/* =============
    About
============= */
#about-me{

    h1{
        padding: 16px 0 16px 0;
        color: var(--blueNavy);
        text-align: center;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 8vh 8vh 8vh 12vh;
        gap: 8px;

        grid-template-areas:
        "bio1 bio1"
        "bio2 bio2"
        "bio3 bio3"
        "bio4 bio4";
    }

    li{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #bio1{
        grid-area: bio1;
        background-color: var(--salmon);
        font-style: italic;
        border-radius: 8px;
    }

    #bio2{
        grid-area: bio2;
        background-color: var(--blueMisty);
        font-style: italic;
        border-radius: 8px;

    }

    #bio3{
        grid-area: bio3;
        background-color: var(--salmon);
        font-style: italic;
        border-radius: 8px;
    }

    #bio4{
        grid-area: bio4;
        background-color: var(--blueMisty);
        font-style: italic;
        border-radius: 8px;
    }

}

#life-in-links{
    padding-bottom: 16px;
    
    h1{
        padding: 32px 0 16px 0;
        color: var(--blueNavy);
        text-align: center;
    }

    ul{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 8vh);
        gap: 8px;

        grid-template-areas:
        "acsm acsm1"
        "msm msm1"
        "bpo bpo1"
        "dcci dcci1"
        "dal dal1"
        "flp flp1"
        "ccd ccd1"
        "singer singer1";

    li{
        display: flex;
        justify-content: center;
        text-align: center;

        a{
            color: var(--white);
        }

    }
    #acsm{
        grid-area: acsm;
        color: var(--white);
        background-color: var(--carafe);
        border-radius: 8px;
    }

    #acsm1{
        grid-area: acsm1;
    }
    #msm{
        grid-area: msm;
        color: var(--white);
        background-color: var(--blueNavy);
        border-radius: 8px;
    }

    #msm1{
        grid-area: msm1;
    }

    #bpo{
        grid-area: bpo;
        color: var(--white);
        background-color: var(--carafe);
        border-radius: 8px;
    }

    #bpo1{
        grid-area: bpo1;
    }

    #dcci{
        grid-area: dcci;
        color: var(--white);
        background-color: var(--blueNavy);
        border-radius: 8px;
    }

    #dcci1{
        grid-area: dcci1;
    }

    #dal{
        grid-area: dal;
        color: var(--white);
        background-color: var(--carafe);
        border-radius: 8px;
    }

    #dal1{
        grid-area: dal1;
    }

    #flp{
        grid-area: flp;
        color: var(--white);
        background-color: var(--blueNavy);
        border-radius: 8px;
    }

    #flp1{
        grid-area: flp1;
    }

    #ccd{
        grid-area: ccd;
        color: var(--white);
        background-color: var(--carafe);
        border-radius: 8px;
    }

    #ccd1{
        grid-area: ccd1;
    }

    #singer{
        grid-area: singer;
        color: var(--white);
        background-color: var(--blueNavy);
        border-radius: 8px;
    }

    #singer1{
        grid-area: singer1;
    }
    }
}

#cat-gallery-container{
    h1{
        padding: 32px 0 16px 0;
        color: var(--blueNavy);
        text-align: center;
    }

    #cat-gallery{
        padding: 0 16px 16px 16px;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10vh 10vh 10vh 20vh;

        grid-template-areas:
        "g1 g1 g2 g2"
        "g3 g3 g4 g4"
        "g5 g6 g6 g6"
        ". g7 g7 .";

        li{
            background-size: cover;
            background-position: center;
        }

    }

    #g1{
        grid-area: g1;
        background-image: url(img/cat1.JPG);
    }
}