/* =============
    About
============= */
#about-me{

    h1{
    padding: 16px 0 16px 0;
        color: var(--blueNavy);
        text-align: center;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 8vh 8vh 8vh 12vh;
        gap: 8px;

        grid-template-areas:
        "bio1 bio1"
        "bio2 bio2"
        "bio3 bio3"
        "bio4 bio4";
    }

    li{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #bio1{
        grid-area: bio1;
        background-color: var(--salmon);
        font-style: italic;
        border-radius: 8px;
    }

    #bio2{
        grid-area: bio2;
        background-color: var(--blueMisty);
        font-style: italic;
        border-radius: 8px;

    }

    #bio3{
        grid-area: bio3;
        background-color: var(--salmon);
        font-style: italic;
        border-radius: 8px;
    }

    #bio4{
        grid-area: bio4;
        background-color: var(--blueMisty);
        font-style: italic;
        border-radius: 8px;
    }

}

#life-in-links{
    
    h1{
        padding: 32px 0 16px 0;
        color: var(--blueNavy);
        text-align: center;
    }

    ul{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 8vh);
        gap: 8px;

        grid-template-areas:
        "acsm acsm"
        "msm msm"
        "bpo bpo"
        "dcci dcci"
        "dal dal"
        "flp flp"
        "ccd ccd"
        "singer singer";

    li{
        display: flex;
        justify-content: center;
        text-align: center;

    }
    #acsm{
        grid-area: acsm;
        color: var(--white);
        background-color: var(--carafe);
        border-radius: 8px;
    }
    #msm{
        grid-area: msm;
    }

    #bpo{
        grid-area: bpo;
    }

    #dcci{
        grid-area: dcci;
    }

    #dal{
        grid-area: dal;
    }

    #flp{
        grid-area: flp;
    }

    #ccd{
        grid-area: ccd;
    }

    #singer{
        grid-area: singer;
    }
    }
}