/* =============
    About
============= */
#about-me{
    h1{
        padding: 16px 0 8px;
        color: var(--blueMidnight);
        text-align: center;
    }
    p{
        padding: 8px;
    }
}


#life-in-links{
    padding-bottom: 16px;

    h1{
        padding-top: 16px;
        color: var(--blueMidnight);
        text-align: center;
    }

    ul{
        text-align: center;


        display: grid;
        grid-template-rows: ;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 8px;

        // grid-template-areas:
        // "acsm msm"
        // "acsmsub msmsub"
        // "bpo bpo"
        // "dcci dcci"
        // "dal flp"
        // "ccd singer";
        

        li{
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: var(--midnightShade);


        }
        p{
            font-style: italic;
            background-color: var(--midnightShade);
        }

        #acsm{
            grid-area: acsm;
        }

        #acsmsub{
            grid-area: acsmsub;
        }

        #msm{
            grid-area: msm;
        }

        #bpo{
            grid-area: bpo;
        }

        #dcci{
            grid-area: dcci;
        }

        #dal{
            grid-area: dal;
        }

        #flp{
            grid-area: flp;
        }

        #ccd{
            grid-area: ccd;
        }

        #singer{
            grid-area: singer;
        }
    
    }
}