#proforgs{

    h1{
        color: var(--blueNavy);
        padding: 16px 8px;
        text-align: center;

    }

    h2{
        font-style: italic;
        background-color: var(--carafe);
        text-align: center;
        margin: 16px 0;
        font-style: italic;
        color: var(--white);
    }

    p{
        margin: 0 8px;
    }

    button{

        margin: 8px;
        padding: 8px 16px;
        border-radius: 8px;
        a{
            color: var(--blueNavy);
        }
    }
}