/* =============
    Index
============= */

#index-philosophy{
    margin: 64px 8px;
    text-align: center;

    h1{
        color: var(--blueNavy);
        padding-bottom: 16px;
    }

    p{
        padding: 16px;
    }

    #powers-quote{
        background-color: var(--carafe);
        border-radius: 8px;
        color: var(--white);
    }


    #index-philosophy-image{
        height: 70vh;
        background-image: url('../img/Phonebooth.jpg');
        background-size: cover;
        // x = right | center | left
        // y = top | center | bottom
        background-position: center;

        @include md{
            height: 60vh;
        }
    }
}