/* =============
    Index
============= */

#index-philosophy{
    margin: 32px 8px;
    text-align: center;

    p{
        padding: 16px;
    }


    #index-philosophy-image{
        height: 70vh;
        background-image: url('../img/Phonebooth.jpg');
        background-size: cover;
        // x = right | center | left
        // y = top | center | bottom
        background-position: center;

        @include md{
            height: 60vh;
        }
    }
}