/* =============
    Resume
============= */

#my-resume{
    padding-bottom: 16px;
    >div{
        h1{
            color: var(--blueMidnight);
            text-align: center;
            padding-bottom: 16px;
        }
    
        .blueButton{
            text-align: center;
            display: block;
            margin: auto;

        }
    }

    h2{
        text-align: center;
        padding-top: 16px;
    }
    p{
        text-align: center;
    }

    h3{
            padding-top: 32px;
        }
        ul{
            li{
                padding-top: 8px;
            }
        }
    }

