/* =============
    Resume
============= */

#my-resume{
    padding-bottom: 16px;
    h1{
        color: var(--blueMidnight);
        text-align: center;

    }

    button{
        text-align: center;
        display: flex;
        justify-content: center;

    }

    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }

    h3{
            padding-top: 32px;
        }
        ul{
            li{
                padding-top: 8px;
            }
        }
    }

