/* =============
    Resume
============= */

#my-resume{

    padding-bottom: 16px;
    margin: 0 8px 0 8px;

        h1{
            color: var(--blueNavy);
            text-align: center;
            padding: 16px 0 16px 0;
        }
    
        a{
            display: flex;
            justify-content: center;
            padding: 1em 1.5em;
            background-color: var(--carafe);
            color: var(--white);
            margin: 16px 64px;
            border-radius: 12px;

        }
    

    h2{
        text-align: center;
        padding-top: 16px;
    }
    p{
        text-align: center;
    }

    h3{
            padding-top: 32px;
        }
        ul{
            li{
                padding-top: 8px;
            }
        }
    }

