/* =============
    Footer
============= */
footer{
    background-image: url("../img/footerbookshelf.jpg");
    background-size: cover;
    background-position: center bottom;
    color: var(--white);
    text-align: center;
    height: 60vh;

    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
h2{

}

ul{
    padding-top: 250px;

    li{
       a{
        color: var(--white); 
        font-size: rem-calc(20);
       }   
    }
}

}