/* =============
    Footer
============= */
footer{

    background-image: url("../img/footerbookshelf.jpg");
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
    height: 50vh;

    // display: flex;
    // justify-content: center;
    // align-items: flex-end;

    h2{
        padding-bottom: 16px;
    }

    ul{
        padding: 16px;
        background-color: var(--blueNavy);
        display: flex;
        justify-content: space-between;

        @include md{
            padding: 16px 72px;
        }

        li{
            a{
                color: var(--white);     
                font-size: rem-calc(18);
                text-decoration: none;
            }
        }
    }

// ul{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: 16vh;

//     grid-template-areas:
//     "footer1"
//     "footer2"
//     "footer3"
//     "footer4";

// }

//     #footer1{
//         grid-area: footer1;
//         color: var(--white);
        

//     }

// >div{

//     ul{
//         padding-top: 250px;
//         padding: 32px 6vw 16px;
//         display: flex;
//         justify-content: space-between;
//         li{
    
//            a{
//             color: var(--white); 
//             font-size: rem-calc(20);
//            }   
//         }
//     }

// }

}