/* =============
    Footer
============= */
footer{
    background-image: url("../img/footerbookshelf.jpg");
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
    height: 50vh;

    // display: flex;
    // justify-content: center;
    // align-items: flex-end;

>div{

    ul{
        padding-top: 250px;
        padding: 32px 6vw 16px;
        display: flex;
        justify-content: space-between;
        li{
    
           a{
            color: var(--white); 
            font-size: rem-calc(20);
           }   
        }
    }

}

}