/* =============
    Header
============= */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);

    #header-container{
        display: grid;
        grid-template-columns: 20% auto;
    
        grid-template-areas:
        "home burger"
        "nav nav";
    }

    #home-container{
        grid-area: home;
        font-size: rem-calc(22);
        background-color: var(--white);
        padding: 8px;
        a{
            color: var(--blueMisty);
        }

    }

    #burger-container{
        grid-area: burger;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button{
            background-color: var(--blueMisty);
            border-radius: 6px;
            color: var(--white);
            font-size: rem-calc(18);
            padding: 8px;
        }
    }

    #main-nav{
        grid-area: nav;
    }
}    

