/* =============
    Buttons
============= */

button{
    border: none;
    cursor: pointer;
}
.salmonButton{
    background-color: var(--salmon);
    color: var(--blueNavy);
    font-size: rem-calc(18);
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 8px;
    margin: auto;
}