/* =============
    Navigation
============= */

a{
    text-decoration: none;
    color: var(--white);

    i{
        color: var(--blueMisty);

    }

}

.hide-menu{
    display: none;

    @include md{
        display: block;
    }
}

#main-nav{
    background-color: var(--blueNavy);
    padding: 16px;
    line-height: 1.5;

    ul{
        li{
            text-align: right;
        }
    }
}